body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top-banner{
    display: flex;
    margin-top: 10px;
}

.banner-item{
    width: 40%;
    margin: 5%;
}

.banner-item span{
    color: tomato;
    font-size: 35px;
    font-weight: bolder;
}

.banner-item h1{
    color: rgb(83, 83, 83);
    font-size: 35px;
    font-weight: bolder;
}

.banner-item p{
    color: rgb(87, 87, 87);
    font-size: 18px;
    margin-bottom: 30px;
}

.banner-item a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orange, tomato);
    padding: 11px 20px;
    border-radius: 20px;
}

.banner-item img{
    width: 110%;
}



#about-sec{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
}



.about-me{
    display: flex;
}
.about-item{
    width: 40%;
    margin-left: 8%;
}
.about-item img{
    width: 55%;
}

.about-item h2{
    font-size: 27px;
    font-weight: bold;
    color: rgb(70, 70, 70);
}



.about-item p{
    color: rgb(100, 99, 99);
    font-size: 18px;
    margin-bottom: 40px;
}


.about-item a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orange, tomato);
    padding: 11px 20px;
    border-radius: 20px;

}


.recipies{
    text-align: center;

}

.my-recipies{
    text-align: center;
    margin: 10px 200px;
}

.my-recipies h2{
    color: rgb(73, 73, 73);
    font-weight: bold;
}

.my-recipies p{
    color: grey;
    font-size: 18px;
    margin-bottom: 40px;
}


.recipies-item{
    display: flex;
}

.single-item{
    width: 30%;
    margin-left: 3%;
}

.item{
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 5px 8px 3px #888888;
}

.single-item img{
    width: 68%;
    margin-left: 0px;
    margin-top: 30px;
    border-radius: 10px;
}

.single-item h3{
    font-weight: bold;
}

.single-item p{
    width: 70%;
    font-size: 16px;
    margin-left: 40px;
    text-align: justify;
}


#counter{
    width: 80%;
    margin: 10%;
}

.counter-all{
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 5px 90px 1px #888888;
}

.counter-item{
    width: 30%;
    text-align: center;
}

.counter-item h1{
    font-weight: bolder;
}

.counter-item p{
    color: rgb(105, 104, 104);
}




#footer-section{
    text-align: center;
    background-color: rgb(9, 9, 22);
    padding: 30px 0;
}

#footer-section h1{
    color: rgb(153, 150, 150);
}
#footer-section span{
    color: tomato;
}
#footer-section p{
    color: white;
    font-size: 18px;
}